<div>
  <div >
    <h3 style="margin-left: 15px;margin-bottom: 0px;margin-top: 0px;">PANEL DE CONTROL</h3>
    <ion-row style="width: 100%" class="ion-align-items-center">
      <ion-col size="12" size-lg="3" size-md="3" size-sm="3" >
        <ion-card class="card-item" style="background-color: #62ca62;" >
          <ion-card-content>
            <div class="div-card-item">
 
                <ion-row style="width: 100%" class="ion-align-items-center">
                  <ion-col size="3" size-lg="3" size-md="3" size-sm="3" >
                    <ion-icon name="cash-outline" class="color-icon"></ion-icon>
                  </ion-col>
                  <ion-col size="9" size-lg="9" size-md="9" size-sm="9" >
                    <div style="    margin-left: 20px;">
                      <ion-label class="tamanio-label">S/ {{ventasDiaSoles | number: '1.2-2'}}</ion-label><br>
                      <ion-label class="tamanio-descripcion">VENTAS DEL DÍA</ion-label>
                    </div>

                  </ion-col>
                </ion-row>
             
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-lg="3" size-md="3" size-sm="3" >
        <ion-card class="card-item" style="background-color: #d43b3b;" >
          <ion-card-content>
            <div class="div-card-item">
 
              <ion-row style="width: 100%" class="ion-align-items-center">
                <ion-col size="3" size-lg="3" size-md="3" size-sm="3" >
                  <ion-icon name="people-circle-outline" class="color-icon"></ion-icon>
                </ion-col>
                <ion-col size="9" size-lg="9" size-md="9" size-sm="9" >
                  <div style="    margin-left: 20px;">
                    <ion-label class="tamanio-label">{{cantidadClientes}}</ion-label><br>
                    <ion-label class="tamanio-descripcion">CLIENTES</ion-label>
                  </div>

                </ion-col>
              </ion-row>
           
          </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-lg="3" size-md="3" size-sm="3" >
        <ion-card class="card-item" style="background-color: #1f9ff5;" >
          <ion-card-content>
            <div class="div-card-item">
 
              <ion-row style="width: 100%" class="ion-align-items-center">
                <ion-col size="3" size-lg="3" size-md="3" size-sm="3" >
                  <ion-icon name="cart-outline" class="color-icon"></ion-icon>
                </ion-col>
                <ion-col size="9" size-lg="9" size-md="9" size-sm="9" >
                  <div style="    margin-left: 20px;">
                    <ion-label class="tamanio-label">S/ {{ comprasDiaSoles | number: '1.2-2' }}</ion-label><br>
                    <ion-label class="tamanio-descripcion">COMPRAS</ion-label>
                  </div>

                </ion-col>
              </ion-row>
           
          </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-lg="3" size-md="3" size-sm="3" >
        <ion-card class="card-item" style="background-color: #d99403f5;" >
          <ion-card-content>
            <div class="div-card-item">
 
              <ion-row style="width: 100%" class="ion-align-items-center">
                <ion-col size="3" size-lg="3" size-md="3" size-sm="3" >
                  <ion-icon name="bus-outline" class="color-icon"></ion-icon>
                </ion-col>
                <ion-col size="9" size-lg="9" size-md="9" size-sm="9" >
                  <div style="    margin-left: 20px;">
                    <ion-label class="tamanio-label">{{ cantidadProveedores }}</ion-label><br>
                    <ion-label class="tamanio-descripcion">PROVEEDORES</ion-label>
                  </div>

                </ion-col>
              </ion-row>
           
          </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      
    </ion-row>
  </div>
  <div class="contenedor-home">
    <div class="div-home1">
      <ion-card>
        <ion-card-content>
          <ion-row style="width: 100%" class="ion-align-items-center">
            <ion-col size="8" size-lg="8" size-md="8" size-sm="8" >
              <h3 style="margin-left: 15px;margin-bottom: 0px;font-size: 16px;">Productos más vendidos</h3>
              <div >
                <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" [hidden]="mostrarVendidos">
                </highcharts-chart>
              </div>
            </ion-col>
            <ion-col size="4" size-lg="4" size-md="4" size-sm="4" >
              <ion-list>
                <ion-item *ngFor="let productos of productosVendidos; let indice=index;" >
                  <ion-label style="font-size: 13px;">{{ productos.vent_producto}}</ion-label>
                  <ion-badge style="background-color: #8f8f8f;">{{ productos.cantidad}}</ion-badge>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>          
        </ion-card-content>
      </ion-card>

    </div>

    <div class="div-home2">
      <ion-card>
        <ion-card-content>
          <ion-row style="width: 100%" class="ion-align-items-center">
            <ion-col size="8" size-lg="8" size-md="8" size-sm="8" >
              <h3 style="margin-left: 15px;margin-bottom: 0px;font-size: 16px;">Clasificación resumen</h3>
              <div>
                <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptionsABC">
                </highcharts-chart>
              </div>
            </ion-col>
            <ion-col size="4" size-lg="4" size-md="4" size-sm="4" >
              <ion-list>
                <h4>Productos clasificación C</h4>
                <ion-item *ngFor="let productos of resumenAbcDatos; let indice=index;" >
                  <ion-label style="font-size: 13px;">{{ productos.producto }}</ion-label>
                  <ion-badge style="background-color: #8f8f8f;">{{ productos.unidades_consumidas }}</ion-badge>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>          
        </ion-card-content>
      </ion-card>
    </div>


  </div>
  <div>
    <ion-card>
      <ion-card-content>
        <ion-list>
          <ion-item class="col-text div-item tamanio-letra-item">
            <ion-row style="width: 100%" class="ion-align-items-center">
              <ion-col size="2" size-lg="2" size-md="2" size-sm="2" class="div-detalle-producto"><strong>Producto</strong></ion-col>
              <ion-col size="2" size-lg="2" size-md="2" size-sm="2" class="div-detalle-producto"><strong>Valor del producto</strong></ion-col>
              <ion-col size="2" size-lg="2" size-md="2" size-sm="2" class="div-detalle-producto"><strong>Unidades consumidas</strong></ion-col>
              <ion-col size="2" size-lg="2" size-md="2" size-sm="2" class="div-detalle-producto"><strong>Consumo anual(S/)</strong></ion-col>
              <ion-col size="2" size-lg="2" size-md="2" size-sm="2" class="div-detalle-producto"><strong>% del total anual</strong></ion-col>
              <ion-col size="2" size-lg="2" size-md="2" size-sm="2" class="div-detalle-producto"><strong>% acumulado del total anual</strong></ion-col>
            </ion-row>
          </ion-item>
          <ion-item class="col-text div-item tamanio-letra-item"  *ngFor="let reportes of reporteAbcDatos; let indice=index;" >
            <ion-row style="width: 100%" class="ion-align-items-center">
              <ion-col size="2" size-lg="2" size-md="2" size-sm="2" class="div-detalle-producto"><strong>{{ reportes.producto }}</strong></ion-col>
              <ion-col size="2" size-lg="2" size-md="2" size-sm="2" class="div-detalle-producto">{{ reportes.valor_articulo}}</ion-col>
              <ion-col size="2" size-lg="2" size-md="2" size-sm="2" class="div-detalle-producto">{{ reportes.unidades_consumidas}}</ion-col>
              <ion-col size="2" size-lg="2" size-md="2" size-sm="2" class="div-detalle-producto">{{ reportes.consumo_anual}}</ion-col>
              <ion-col size="2" size-lg="2" size-md="2" size-sm="2" class="div-detalle-producto">{{ reportes.porcentaje_total_anual | number: '1.2-2'}} % </ion-col>
              <ion-col size="2" size-lg="2" size-md="2" size-sm="2" class="div-detalle-producto">{{ reportes.porcentaje_acumulado_total_anual | number: '1.2-2'}} %</ion-col>
            </ion-row>
          </ion-item>
        </ion-list>
        <div>
          <h3>Consumo total anual: {{ consumoTotal }}</h3>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</div>  