<ion-content [fullscreen]="true">
  <div>
    <ion-item style="width: 100%;display: flex; flex-direction: row;">
      <div style="width: 280px;">
        <h3>Proveedores</h3>
      </div>
      <div style="width: 300px;    margin: auto 0px;">
        <ion-button style="width: 200px;height: 30px;    font-size: 11px !important;" class="background-principal">
          <ion-icon name="add-outline"></ion-icon>
          <ion-label>Agregar Proveedores</ion-label>
        </ion-button>
      </div>
    </ion-item>
    <ion-item>
      <ion-searchbar placeholder="Buscar proveedor" style="    --border-radius: 8px;"></ion-searchbar>
    </ion-item>



<!-- nombre-del-componente.component.html -->
<ion-list>
  <ion-item class="col-text div-item tamanio-letra-item">
    <ion-row style="width: 100%" class="ion-align-items-center">
      <ion-col size="6" size-lg="2" size-md="2" size-sm="2" class="div-detalle-producto"><strong>Cod.</strong></ion-col>
      <ion-col size="6" size-lg="2" size-md="2" size-sm="2" class="div-detalle-producto"><strong>Proveedor</strong></ion-col>
      <ion-col size="3" size-lg="2" size-md="2" size-sm="2" class="div-detalle-producto"><strong>Ruc</strong></ion-col>
      <ion-col size="3" size-lg="2" size-md="2" size-sm="2" class="div-detalle-producto"><strong>Teléfono</strong></ion-col>
      <ion-col size="3" size-lg="2" size-md="2" size-sm="2" class="div-detalle-producto"><strong>Estado</strong></ion-col>
      <ion-col style="text-align: center;" size="2" size-lg="2" size-md="2" size-sm="2" class="div-detalle-producto"><strong>Acciones</strong></ion-col>
    </ion-row>
  </ion-item>

  <ion-item class="tamanio-letra-item">
    <ion-row style="width: 100%" class="ion-align-items-center">
      <ion-col size="2" size-lg="2" size-md="2" size-sm="2" class="div-detalle-producto">
        <div>
          <span>
            PR-855447722
         </span>
        </div>
      </ion-col>
      <ion-col size="2" size-lg="2" size-md="2" size-sm="2" class="div-detalle-producto">
        <div>
          <span>
            Soy prov abc
         </span>
        </div>
      </ion-col>
      <ion-col size="2" size-lg="2" size-md="2" size-sm="2" class="div-detalle-producto">
        <div>
          <span>
            2075785212
         </span>
        </div>
      </ion-col>
      <ion-col size="2" size-lg="2" size-md="2" size-sm="2" class="div-detalle-producto">
        <div>
          <span>
            70568587
         </span>
        </div>
      </ion-col>
      <ion-col size="3" size-lg="2" size-md="2" size-sm="2" class="div-detalle-producto">
        <ion-chip style="--background:#bb0303;--color:white;    width: 100px;">  
          <ion-icon name="alert-outline" style="color: white;"></ion-icon>
          <ion-label >estado</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col style="justify-content: center;display: flex;" size="3" size-lg="2" size-md="2" size-sm="2" class="div-detalle-producto">

          
      </ion-col>
    </ion-row>
  </ion-item>

</ion-list>



















  </div>

</ion-content>