.modal-categoria {
    --height: 320px;
    padding: 10px;

}

.custom-alert {
    ion-icon {
      font-size: 2em; // Ajusta el tamaño del icono según tus necesidades
      margin-right: 8px; // Espaciado entre el icono y el texto del encabezado
    }
  }