
<ion-content [fullscreen]="true">
  <div >
    <ion-item style="width: 100%;display: flex;
    flex-direction: row;">
      <div style="width: 280px;">
        <h3>Registrar Productos</h3>
      </div>
      <div style="width: 300px;    margin: auto 0px;">
        <ion-button style="width: 200px;height: 30px;    font-size: 11px !important;" class="background-principal" (click)="setOpen(true)" >
          <ion-icon name="add-outline"></ion-icon>
          <ion-label>Agregar producto</ion-label>
        </ion-button>
      </div>
    </ion-item>
    <ion-item>
      <ion-searchbar placeholder="Buscar producto" style="    --border-radius: 8px;"></ion-searchbar>
    </ion-item>

    <ion-list>
      <ion-item class="col-text div-item tamanio-letra-item">
        <ion-row style="width: 100%" class="ion-align-items-center">
          <ion-col size="6" size-lg="8" size-md="8" size-sm="8" class="div-detalle-producto"><strong>DETALLE PRODUCTO</strong></ion-col>
          <ion-col size="3" size-lg="2" size-md="2" size-sm="2" class="div-detalle-producto"><strong>ESTADO</strong></ion-col>
          <ion-col style="text-align: center;" size="3" size-lg="2" size-md="2" size-sm="2" class="div-detalle-producto"><strong>ACCIÓN</strong></ion-col>
        </ion-row>
      </ion-item>

      <ion-item *ngFor="let lista_productos of pagedItems; let indice=index;" [hidden]="sin_resultado" class="tamanio-letra-item">
        <ion-row style="width: 100%" class="ion-align-items-center">
          <ion-col size="6" size-lg="8" size-md="8" size-sm="8" class="div-detalle-producto">
            <div>
              <span>
               <strong>Producto:</strong> {{lista_productos.nombre}}
             </span>
            </div>
            <div>
              <span>
               <strong>Categoría:</strong> Gaseosa
             </span>
            </div>
            <div>
              <span>
               <strong>Precio:</strong> S/ 5.00
             </span>
            </div>
            <div>
              <span>
               <strong>Cantidad:</strong> 10
             </span>
            </div>
          </ion-col>
          <ion-col size="3" size-lg="2" size-md="2" size-sm="2" class="div-detalle-producto">
            
            <ion-chip *ngIf="lista_productos.estado_n == 1" style="--background:#bb0303;--color:white;    width: 100px;">  
              <ion-icon name="alert-outline" style="color: white;"></ion-icon>
              <ion-label >{{lista_productos.estado}}</ion-label>
            </ion-chip>
            <ion-chip *ngIf="lista_productos.estado_n == 0" style="--background:#205620;--color:white;    width: 100px;">  
              <ion-icon name="checkmark-outline" style="color: white;"></ion-icon>
              <ion-label>{{lista_productos.estado}}</ion-label>
            </ion-chip>
          </ion-col>
          <ion-col style="justify-content: center;display: flex;" size="3" size-lg="2" size-md="2" size-sm="2" class="div-detalle-producto">
            <ion-icon name="sync-outline" style="font-size: 17px;cursor: pointer;"></ion-icon>
              
          </ion-col>
        </ion-row>
      </ion-item>

    </ion-list>
    <ion-item>
      <ion-row style="width: 100%" [hidden]="sin_resultado">
        <ion-col size="12">
          <nav>
            <ul *ngIf="pager.pages && pager.pages.length" class="pagination pagination-sm paginacion-posicion">
              <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                <ion-icon name="play-skip-back-outline" class="icono-paginacion page-link a-paginacion" (click)="setPage(1)"></ion-icon>
              </li>
              <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
                <ion-icon name="caret-back-outline" class="icono-paginacion page-link a-paginacion" (click)="setPage(pager.currentPage - 1)"></ion-icon>
              </li>
              <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                <span class="numero-paginacion page-link a-paginacion" (click)="setPage(page)">{{page}}</span>
              </li>
              <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <ion-icon name="caret-forward-outline" class="icono-paginacion page-link a-paginacion" (click)="setPage(pager.currentPage + 1)" ></ion-icon>
              </li>
              <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                  <ion-icon name="play-skip-forward-outline" class="icono-paginacion page-link a-paginacion" (click)="setPage(pager.totalPages)"></ion-icon>
              </li>
          </ul>
          </nav>
        </ion-col>
      </ion-row>
    </ion-item>


  </div>


  <ion-modal [isOpen]="isModalOpen" backdropDismiss="false" [enterAnimation]="servicio.enterAnimation" [leaveAnimation]="servicio.leaveAnimation" class="modal-categoria">
    <ng-template>
      <ion-content >
        <div>
          <ion-header>
            <ion-toolbar class="background-principal" style="--color:white">
              <ion-title>Agregar productos</ion-title>
              <ion-buttons slot="end" (click)="setOpen(false)">
                <ion-icon name="close-outline" style="font-size: 30px;cursor: pointer;"></ion-icon>
              </ion-buttons>  
            </ion-toolbar>
          </ion-header>
        </div>
        <div class="ion-padding">
          

            <ion-list>
              <ion-item>
                <ion-label> <strong>Código</strong></ion-label>
                <ion-input  placeholder="Ingrese código" ></ion-input>
              </ion-item>
              <ion-item>
                <ion-label> <strong>Nombre de producto</strong></ion-label>
                <ion-input  placeholder="Ingrese nombre producto" ></ion-input>
              </ion-item>
              <ion-item>
                <ion-label> <strong>Precio S/.</strong></ion-label>
                <ion-input  placeholder="0.0" ></ion-input>
              </ion-item>
              <ion-item>
                <ion-label> <strong>Cantidad</strong></ion-label>
                <ion-input  placeholder="123" ></ion-input>
              </ion-item>
              <ion-item>
                <ion-select interface="action-sheet" placeholder="Seleccione categoría" cancel-text="Cancelar">
                  <ion-select-option value="apples">Gaseosa</ion-select-option>
                  <ion-select-option value="oranges">Aceite</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
 
          <div style="text-align: center;">
            <ion-button style="width: 200px;height: 30px;    font-size: 11px !important;align-items: center;" class="background-principal" (click)="setOpen(true)" >
              <ion-label>REGISTRAR</ion-label>
            </ion-button>
          </div>

        </div>

      </ion-content>
    </ng-template>
  </ion-modal>

  
</ion-content>