
<ion-content [fullscreen]="true">
  <div class="contenedor-login">
    <div class="div-img">
      <img src="../../../assets/img/logo-seis.gif" alt="" class="img-img">
    </div>
    <div class="div-datos-login">
      <ion-card class="card-login ion-no-padding ion-inherit-color">
        <ion-card-header>
          <h3 style="text-align: center;" class="color-principal">SISTEMA INVENTARIO</h3>
          <img src="../../../assets/img/logo.webp" alt="" class="img-datos">
        </ion-card-header>
        <ion-card-content>
          <form [formGroup]="myFormLogin" #formDirective="ngForm"  class="formulario" (ngSubmit)="ingresar()">
            <ion-list>
              <ion-item style="margin-bottom: 20px;" >
                <ion-input label="Usuario" formControlName="usuario" labelPlacement="floating" placeholder="Ingrese usuario" class="tamanio-letra"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input label="Contraseña" formControlName="password" type="password" labelPlacement="floating" placeholder="Ingrese contrseña" class="tamanio-letra"></ion-input>
              </ion-item>
            </ion-list>
            <div>
              <button type="submit" [hidden]="true"  class="btn btn-primary"></button>
              <ion-button type="submit" expand="block" class="background-principal" (click)="ingresar()">INGRESAR</ion-button>
            </div>
          </form>
        </ion-card-content>

      </ion-card>

    </div>
  </div>
</ion-content>
