/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

.pagination{
    display: flex;
    width: 100% !important;
    max-width: 100%;
    justify-content: end;
    list-style: none;
    cursor: pointer;
}

.icono-paginacion{
    font-size: 26px;
    cursor: pointer;
}

.numero-paginacion{
    font-size: 20px;
    cursor: pointer;
    padding: 12px;
}

.page-item.active .page-link {
    z-index: 3;
      color: #fff;
      background-color: #151564;
      border-color: #151564;
  }
  
  .page-link:hover {
    z-index: 2;
    color: #151564;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
  }
  
  .page-link{
    color: #151564;
  }
  
  .a-paginacion{
    border-color: white !important;
    border-radius: 50%;
    text-align: center;
  }

.background-principal {
    --background: #151564;
}

.color-principal {
    color:#151564;
}

.tamanio-letra {
    font-size: 14px !important;
}

.tamanio-letra-item {
    font-size: 13px !important;
}